<!DOCTYPE html>
<html lang="en">

<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<div id="app-6">
    <input v-model="city">
    <button v-on:click="getWeather">Todays Weather</button>
    {{weather}}
    <button v-on:click="getForecast">Packing</button>
    {{forecast}}
    <button v-on:click="getTemperature">Temperature</button>
    {{temperature}}
    <button v-on:click="getTable">Tabular forecast</button>
    <li v-for="n in rainfall_array">{{ n }}</li>
    <li v-for="n in temperature_array">{{ n }}</li>
    <li v-for="n in wind_speed_array">{{ n }}</li>
    <button v-on:click="getAirPollution">Air Pollution</button>
    <li v-for="n in humidity_array">{{ n }}</li>
</div>
<script>
    const API_KEY = "2851461c73782e2d4b65647c123fa135"
    const kelvin_decrement = 273.15 //for conversion from kelvin to celsius
    var app6 = new Vue({
        el: '#app-6',
        data: {
            city: 'London',
            weather: '',
            forecast: '',
            temperature:'',
            rainfall_array: [],
            temperature_array: [],
            wind_speed_array: [],
            longitude: '',
            latitude: '',
            mask: ''
        },
        methods: {
            getWeather: async function () {
                response = await fetch("weather/" + this.city)
                theWeather = await response.json()
                this.weather = theWeather.weather.main
                console.log(theWeather)
            },
            getForecast: async function () {
                response = await fetch("forecast/" + this.city)
                theForecast = await response.json()
                //3-hour step forecast for 5 days
                let pack = 'Rain is not forecasted'
                forecast_size = (theForecast.forecast.list.length)

                //loop through each steps weather checking for rain
                for (let i=0; i<forecast_size; i++){
                    current_forecast = theForecast.forecast.list[i].weather[0].main
                    if(current_forecast == 'Rain'){
                        pack = 'Rain is forecasted, pack an umbrella.'
                    }
                }
                this.forecast = pack
            },
            getTemperature: async function () {
                response = await fetch("temperature/" + this.city)
                theTemperature = await response.json()
                //convert to celsius
                celsiusTemp = theTemperature.temperature-kelvin_decrement
             
                if(celsiusTemp>-10 && celsiusTemp<10){
                    this.temperature = 'Pack for Cold'
                }
                if(celsiusTemp>10 && celsiusTemp<20){
                    this.temperature = 'Pack for Warm'
                }
                if(celsiusTemp>20){
                    this.temperature = 'Pack for Hot'
                }
            },
            getTable: async function () {
                response = await fetch("table/" + this.city)
                theForecast= await response.json()
                forecast_size = (theForecast.forecast.list.length)

                //date sliced in order to get the date without the time
                let current_date = current_forecast = theForecast.forecast.list[0].dt_txt.slice(0,10)
                console.log(current_date)
                let average_rainfall = 0
                let average_temperature = 0
                let average_windspeed = 0


                for (let i = 0; i<forecast_size; i++){
                    date = theForecast.forecast.list[i].dt_txt.slice(0,10)
                    let intervals = 0
                    if(date!=current_date){
                        //set denominator for calculating average based off the amount of intervals per day
                        if(i<8){
                            intervals = i
                        }
                        else{
                            intervals = 8
                        }
                        //calculate average and push to array
                        this.rainfall_array.push(average_rainfall/intervals)
                        this.temperature_array.push(average_temperature/intervals)
                        this.wind_speed_array.push(average_windspeed/intervals)

                        //reset averages
                        average_rainfall = 0
                        average_temperature = 0
                        average_windspeed = 0

                        //update current date
                        current_date = date
                        console.log(current_date)
                    }

                    //add values for average calculation
                    if(theForecast.forecast.list[i].weather[0].main == "Rain"){
                        average_rainfall += theForecast.forecast.list[i].rain["3h"]
                    }
                    average_temperature += (theForecast.forecast.list[i].main.temp - kelvin_decrement)
                    average_windspeed += theForecast.forecast.list[i].wind.speed
                }

            },
            getAirPollution: async function () {
                //get coordinates
                response = await fetch("coords/" + this.city)
                coordinates = await response.json()
                this.longitude = coordinates.coords.lon
                this.latitude= coordinates.coords.lat

                //get PM2_5 pollution with these coordinates
                response = await fetch("pollution/" + this.latitude + "/" + this.longitude)
                pollution = await response.json()

                //Check the PM2_5 humidity levels for the next 5 days. If it exceeds 10 wear a mask 
                let mask = "Humidity levels remain below 10. No need to wear a mask."
                for (let i = 0; i<5; i++){
                    if(pollution[i].components.pm2_5 > 10){
                        mask = "PM25 Humidity levels exceed 10, wear a mask."
                    }
                }
            }
        },
    })
</script>

</html>